.products__section {
    display: flex;
    flex-direction: row;
}

.categorias {
    position: relative;
    display: flex;
    flex-direction: column;
}

.category__link {
    text-decoration: none;
    color: #4e78b3;
}