.counter__box {
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.counter__input {
    width: 100%;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.btn-plus,
.btn-subtract {
    cursor: pointer;
    color: #4e78b3;
    font-size: 1.5rem;
}